{% extends 'goroskop/layout.html' %}

{% block content %}
<p align="center">
    <a href="{% url 'kozerog' %}"> <img src=https://upload.wikimedia.org/wikipedia/commons/1/1a/RR5110-0045R_%D0%9A%D0%BE%D0%B7%D0%B5%D1%80%D0%BE%D0%B3.gif alt="Козерог"></a>
    <a href="{% url 'vodolei' %}"> <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/RR5111-0122R.gif" alt="Водолей"></a>
    <a href="{% url 'ribi' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/RR5110-0048R.gif" alt="Рыбы"> </a>
    <a href="{% url 'oven' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/RR5110-0049R.gif" alt="Овен"> </a>
    <a href="{% url 'telec' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/71/RR5110-0050R.gif" alt="Телец"></a>
    <a href="{% url 'bliznici' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/1/10/RR5110-0051R.gif" alt="Близнецы"></a>
    <a href="{% url 'rak' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/RR5110-0052R.gif" alt="Рак"></a>
    <a href="{% url 'lev' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/RR5110-0040R_%D0%9B%D0%B5%D0%B2.gif" alt="Лев"></a>
    <a href="{% url 'deva' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/RR5111-0115R.gif" alt="Дева"></a>
    <a href="{% url 'vesi' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/74/RR5110-0042R_%D0%92%D0%B5%D1%81%D1%8B.gif" alt="Весы"></a>
    <a href="{% url 'skorpion' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/1/11/RR5110-0043R_%D0%A1%D0%BA%D0%BE%D1%80%D0%BF%D0%B8%D0%BE%D0%BD.gif" alt="Скорпион"></a>
    <a href="{% url 'strelec' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/RR5111-0119R.gif" alt="Стрелец"></a>
</p>
{% endblock %}